# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.sakey.json
# Node dependencies
node_modules
aa.js
aa.html
# Logs
logs
*.log
service-account.json
# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
