@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-noto bg-p;
  }

  .text-gradient-1 {
    background: linear-gradient(146.2deg, #10b981 0.1%, rgba(40, 245, 190, 0) 100.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-gradient-2 {
    background: linear-gradient(90deg, #5ACEED 30%, #09B989 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .text-gradient-3 {
    background: linear-gradient(90deg, #09B989  30%, #5ACEED 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .bg-primary, .bg-p, .bg-1 {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .bg-secondary, .bg-s, .bg-2 {
    @apply bg-white dark:bg-gray-800;
  }

  .text-color-1 {
    @apply text-gray-950 dark:text-gray-50;
  }
  .text-color-2 {
    @apply text-gray-600 dark:text-gray-400;
  }
  .text-color-3 {
    @apply text-gray-500 dark:text-gray-500;
  }
  .text-color-4 {
    @apply text-gray-400 dark:text-gray-600;
  }

  .bdr-p,
  .bdr-1 {
    @apply border border-gray-950/10 dark:border-gray-100/10;
  }

  .bdr-2 {
    @apply border border-gray-950/[5%] dark:border-gray-100/[5%];
  }

  .bdr-t-2 {
    @apply border-t border-gray-950/[5%] dark:border-gray-100/[5%];
  }
  .bdr-b-2 {
    @apply border-b border-gray-950/[5%] dark:border-gray-100/[5%];
  }

  .bdr-b-p,
  .bdr-b-1 {
    @apply border-b border-gray-950/10 dark:border-gray-100/10;
  }

  .bdr-t-p,
  .bdr-t-1 {
    @apply border-t border-gray-950/10 dark:border-gray-100/10;
  }

  .bdr-l-p,
  .bdr-l-1 {
    @apply border-l border-gray-950/10 dark:border-gray-100/10;
  }

}

@layer utilities {
  .row-c, .row-container {
    @apply w-full flex flex-col items-center;
  }
  .row-c.-theme,
  .row-container.-theme {
    @apply bg-white dark:bg-gray-950;
  }
  .row {
    @apply grid grid-cols-4 gap-x-16
      sm:grid-cols-6 sm:gap-x-20
      md:grid-cols-8
      lg:grid-cols-10
      xl:grid-cols-12;
  }
  .linex-1 {
    height: 0px;
    @apply border-t border-gray-950/10 dark:border-gray-100/10;
  }
  .linex-2 {
    height: 0px;
    @apply border-t border-gray-950/[5%] dark:border-gray-100/[5%];
  }
  .liney-1 {
    width: 0px;
    @apply border-l border-gray-950/10 dark:border-gray-100/10;
  }
  .liney-2 {
    width: 0px;
    @apply border-l border-gray-950/[5%] dark:border-gray-100/[5%];
  }
}

@layer components {
  .btn {
    @apply px-8 py-3 rounded-md font-medium text-13/4
      bg-gray-950 text-gray-50 xl:text-14
      dark:text-gray-950 dark:bg-gray-50
      hover:bg-green-500 hover:text-gray-50;
  }
}